:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: "inter", sans-serif;
    background-color: var(--Grey-900);
    color: var(--White);
    height: max(100vh, 580px);
    position: relative;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profaile{
    width: 320px;
    padding: 24px;
    background-color: var(--Grey-800);
    border-radius: 10px;
    text-align: center;
}
@media (max-width: 375px) {
    .profaile{
        width: 280px;
    }
}

.profaile_img{
    height: 80px;
    width: 80px;
    border-radius: 100px;
    margin-bottom: 24px;
}

.profaile_name{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.profaile_address{
    color: var(--Green);
    font-weight: 600;
    font-size: 0.75rem;
    margin-bottom: 24px;
}

.profaile_job{
    font-size: 0.75rem;
    margin-bottom: 16px;
}

.profaile_list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profaile_link{
    padding: 10px;
    background-color: var(--Grey-700);
    border-radius: 7px;
    font-size: 0.75rem;
    font-weight: 700;
    cursor: pointer;
}
.profaile_link:hover{
    background-color: var(--Green);
}

.profaile_link a{
    color: var(--White);
}
.profaile_link:hover a{
    color: black;
}

footer{
    position: absolute;
    bottom: 16px;
    width: 100%;
}

footer a{
    color: var(--Green);
}